*
{
    top: 0;
    right: 0;
    box-sizing: border-box;
    font-family: 'Bebas', sans-serif;
}

body
{
    background: radial-gradient(#f6f6f6 , #ececec , #DDDDDD, #FAF3F3, #e1e1e1 , #d0d0d0, #F8F5F1 );
	background-size: 400% 400%;
	animation: gradient 15s infinite;
    z-index: -1;
}

@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

html, body
{
    height: 100vh;
}

.loader-wrapper
{
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.loader
{
    position: absolute;
    top: 40%;
    left: 60%;
    font-size: 5em;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

#shoe
{
    color: #FFFDF5;
}

#lala
{
    color: #155395;
}

.loader-logo
{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.loader-logo.active
{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.loader-logo.fade
{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

#nbar-buttons-account, #nbar-buttons-login, #nbar-buttons-register
{
    text-decoration: none;
    margin-top: 4px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    color: #272121;
    overflow: hidden;
    justify-content: flex-end;

    background: linear-gradient(to right, #217FE1, #217FE1 50%, #272121 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    animation: gradient 7s ease-in ;
}

#nbar-buttons-account:hover, #nbar-buttons-login:hover, #nbar-buttons-register:hover
{
    background-position: 0 100%;
}

#nbar-buttons-account::after, #nbar-buttons-login::after, #nbar-buttons-register::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

#nbar-buttons-account:hover::after, #nbar-buttons-login:hover::after, #nbar-buttons-register:hover::after
{
    width: 100%;
}

.navbar-brand img:hover
{
    transform: scale(1.15);
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgba(255,255,255,.9);
}

.nav-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item
{
    margin-left: 5rem;
}

.nav-link
{
    text-decoration: none;
    font-size: 20px;
    margin-top: 25px;
    position: relative;
    display: inline-block;
    color: #272121;
    overflow: hidden;

    background: linear-gradient(to right, #217FE1, #217FE1 50%, #272121 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    animation: gradient 7s ease-in ;
}

.nav-link:hover
{
    background-position: 0 100%;
}

.nav-link::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav-link:hover::after 
{
    width: 100%;
}

.dropdown-item:hover
{
    background-position: 0 100%;
    color: #1F7DE0;
    border-bottom: 2px solid;
    border-color: #010302;
    font-weight: 800;
    transition: .5s;
}

.hamburger
{
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5x auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 992px) 
{
    .nav-menu
    {
        position: fixed;
        left: -100%;
        top: 10rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active 
    {
        left: 0;
    }

    .nav-item 
    {
        margin: 2.5rem 0;
    }

    .hamburger
    {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) 
    {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) 
    {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) 
    {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media only screen and (min-width: 988px)
 {
	.navbar .nav-item .dropdown-menu
    { 
        display: none; 
    }
	.navbar .nav-item:hover .nav-link
    {   

    }
	.navbar .nav-item:hover .dropdown-menu
    { 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu
    { 
        margin-top:0; 
    }
}	

.title-wrapper
{
    padding-top: 100px;
    margin-bottom: -120px;
}

.cardnew
{
    left: 43%;
    border-bottom: 2px solid;
    transform: translate(-50%,-50%);
    font-size: 60px;
    position: relative;
    overflow: hidden;

    background: radial-gradient(#1F7DE0,#1a65b4, #030C15, #165495, #0883d4, #165495);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    animation: gradient 10s ease-in-out infinite ;
}

.carousel-inner
{
    padding-bottom: 150px;
}

.carousel-indicators
{
    margin-top: 600px;
    z-index: 150;
}

.carousel-indicators li
{
    height: 3px !important;
    border-radius: 0px !important;
    width: 25%;
    color: black;
}

.card
{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    z-index: 150;
}

.card:hover
{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 8px 12px rgba(0,0,0,.06);
    z-index: 200;
    background: #FFFFFF;
    border-radius: 4px;
}

#multi-item-example
{
    top: 10%;
}

.card
{
    padding-top: 10px;
    margin-top: 20px;
    justify-self: center;
}

#cardimg
{
    height: 200px;
    width: 200px;
}

.carousel-item
{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn
{
    background-color: black;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover
{
    background-color: #EEEAEA;
    color: #144B85;
}